@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<head>
    <title>Login</title>
</head>
<body>

@if (@ViewBag.Message != null)
{
    <h2 class="alert alert-danger">@ViewBag.Message</h2>
}

<div>
    <form asp-action="Login" method="post">
        <div>
            <label>
                Username
            </label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label>
                Password
            </label>
            <input type="password" name="password" id="password"/>
        </div>
        <button type="submit">Login</button>
    </form>

    <div class="g-signin2">
        <a  asp-action="LoginGoogle" asp-controller="Account">Google Login</a>
    </div>
</div>
</body>
